.searchButton{
    background-color: #C5553C;
}
.searchButton:hover{
    background-color: #585757;
}
.settingsButton{
    outline: none;
    border: 0 none;
}
.settingsButton:active,
.settingsButton:focus{
    outline: none;
    border: 0 none;
}
.searchField,
.searchField:active,
.searchField:focus{
    outline: none;
    border: 0 none;
}
.searchContainer{
    width: 50%;
}
